body {
    font-family: 'Dancing Script', cursive;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Varela Round', sans-serif;
    margin: 0% auto;
    background-color: #DCF2F1;
}
.hero{
    margin: 0;
    color: #DCF2F1;
    background-image: linear-gradient(to bottom right,#0F1035,#365486,#0F1035);
    padding: 50px;
}
.hero_brief{
    line-height: 1.6;
}
.navbar {
    margin: 0;
    background-color: #0F1035;
    overflow: hidden;
}
.nav_left{
    float: left;
}
.brand{
    display: block;
    color: #7FC7D9;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
}
.nav_right{
    float: right;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: #7FC7D9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #0F1035;
    color: #365486;
    ;
}
.quote{
    margin: 0 auto;
    color: #DCF2F1;
    background-image: linear-gradient(to right,#365486,#0F1035);
    padding: 20px;
    text-align: center;
}
.agenda{
    margin: 0 auto;
    color: #0F1035;
    background-color: #DCF2F1;
    padding: 50px;
    line-height: 1.6;
}
.getstarted{
    margin: 0 auto;
    color: #0F1035;
    background-color: #DCF2F1;
    padding: 50px;
    line-height: 1.6;
}
.getstarted button{
    text-align: center;
}
.promotions-container{
    background-image: linear-gradient(to bottom right,#0F1035,#365486,#0F1035);
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    margin: 0 auto;
}

.promotion1{
    flex-grow: 1;
    text-align: center;
    font-size: small;
    color: #7FC7D9;
    margin: 0;
    padding: 10px;

}
.promotion2{
    flex-grow: 1;
    text-align: center;
    font-size: small;
    color: #7FC7D9;
    margin: 0;
    padding: 10px;
}
.promotion3{
    flex-grow: 1;
    text-align: center;
    font-size: small;
    color: #7FC7D9;
    margin: 0;
    padding: 10px;
}
.get-started-button{
    font-family: 'PT Sans', sans-serif;
    font-family: 'Varela Round', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #7FC7D9;
    border-radius: 5px;
}
.footer{
    font-size: smaller;
    color: #0F1035;
    background-color: #7FC7D9;
    text-align: center;
    padding: 1px;
    height: fit-content;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: #DCF2F1;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to bottom,#7FC7D9,#0F1035);
}
